<% include ./header.ejs %>
<% include ./nav.ejs %>
<div class="cover"></div>
<div class="main">
    <div class="top text-center">
        <img class="top-ban" src="../../public/images/main3.png" alt="ban">
        <div class="top-box hidden-xs hidden-sm">
            <img class="top-logo" src="../../public/images/photo.jpg" alt="photo">
            <p>这是一个简约而不简单的个人博客主题网站，Made by kiki，一个简单的二次元爱好者。</p>
        </div>
    </div>
    <%if(!Article1.length){%>
    <div class="container">
        <p class="manger">
            <% if(usersinfo._id){ %>
            <a class="play-out" href="javascript:;" id="logout">点击退出登录</a>
            <% if(usersinfo.isAdmin){ %>
            你好！ 管理员 <span id="load-user"> <%=usersinfo.username%> </span> 欢迎您进入Clover个人主题博客 ^_^ ！
            <a href="/admin">点击进入后台管理</a>
            <% }else{ %>
            你好！ <span id="load-user"> <%=usersinfo.username%> </span> 欢迎您进入Clover个人主题博客 ^_^ ！
            <% } %>
            <% }else{ %>
            你好！欢迎您浏览Clover个人主题博客 ^_^ ！<a href="/api/user">请点击登录</a>
            <%}%>
        </p>
    </div>
    <div class="focus-box visible-lg-block">
        <div class="container">
            <h3>聚 焦</h3>
            <ul class="focus">
                <li class="first-li"><a href="https://github.com/guoyawan/nodejs"><img src="../../public/images/f1.jpg" alt="pic"></a></li>
                <li><a href="/clover"><img src="../../public/images/clover-con.png" alt="pic"></a></li>
                <li><a href="javascript:;"><img src="../../public/images/f3.jpg" alt="pic"></a></li>
            </ul>
        </div>
    </div>
    <div class="list">
        <div class="container">
            <h3>posts</h3>
            <ul class="media">
                <%for(var i=0;i<article.length;i++){%>
                <li>
                    <div class="media-left media-middle">
                        <a href="javascript:;">
                            <img class="media-object" src="../../public/images/photo.jpg" alt="photo">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><%=article[i].title%></h4>
                        <span>发表时间：<b><%=article[i].time.toLocaleString()%></b></span>
                        <span class="atheist">作者：<b>admin</b></span>
                        <p><%=article[i].content%>
                            <strong>‥‥‥</strong>
                        </p>
                        <a href="/reading?id=<%=article[i]._id%>"><em class="info label-info">阅读全文</em></a>
                        <em class="black">评论：<%=article[i].discuss.length%></em>
                        <em class="black">阅读：<%=article[i].read%></em>
                    </div>
                    <hr class="text-center">
                </li>
                <%}%>
            </ul>
            <nav>
                <ul class="pager">
                    <li><a class="up_page" href="/?page=<%=page-1 %>">上一页</a></li>
                    <li class="page_padding">当前<b><%=page %></b>/<b><%=pages %></b>页 </li>
                    <%if(page===pages){%>
                    <li><a class="down_page" href="javascript:;">下一页</a></li>
                    <%} else{%>
                    <li><a class="down_page" href="/?page=<%=page+1 %>">下一页</a></li>
                    <%}%>
                </ul>
            </nav>
        </div>
    </div>
</div>
     <%}else{%>
  <div class="list">
   <div class="container">
            <ul class="media reading-media">
                <%for(var i=0;i<Article1.length;i++){%>
                <li>
                    <div class="media-left media-middle">
                        <a href="javascript:;">
                            <img class="media-object" src="../../public/images/photo.jpg" alt="photo">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><%=Article1[i].title%></h4>
                        <span>发表时间：<b><%=Article1[i].time.toLocaleString()%></b></span>
                        <span class="atheist">作者：<b>admin</b></span>
                        <p><%=Article1[i].content%>
                            <strong>‥‥‥</strong>
                        </p>
                        <a href="/reading?id=<%=Article1[i]._id%>"><em class="info label-info">阅读全文</em></a>
                        <em class="black">评论：<%=Article1[i].discuss.length%></em>
                        <em class="black">阅读：<%=Article1[i].read%></em>
                    </div>
                    <hr class="text-center">
                </li>
                <%}%>
            </ul>
    <nav>
        <ul class="pager">
            <li><a class="up_page" href="/?page=<%=page-1 %>">上一页</a></li>
            <li class="page_padding">当前<b><%=page %></b>/<b><%=pages %></b>页 </li>
            <%if(page===pages){%>
            <li><a class="down_page" href="javascript:;">下一页</a></li>
            <%} else{%>
            <li><a class="down_page" href="/?page=<%=page+1 %>">下一页</a></li>
            <%}%>
        </ul>
    </nav>
</div>
</div>
<%}%>
<% include ./footer.ejs %>