<!--文章下面所有部分-->
<div class="clover-reprint">
    <p>如未特殊说明，本站文章皆为原创文章，请规范转载。</p>
</div>
<div class="user-dis text-center">
    <img src="../../public/images/photo.jpg" alt="photo" class="img-circle photo">
    <a href="javascript:;">彳蓝小白</a>
</div>
<div class="jumbotron">
    <a id="up" class="" href="/api/user">狗子，快去去注册吧</a>
    <a id="down" href="/api/user">狗子，快去去登录吧</a>
</div>

<div class="clover-msg text-left clover_box">
    <ol class="breadcrumb">
        <li><a href="#">Comments</a></li>
        <li><a href="#">评论</a></li>
    </ol>
    <div class="list">
        <div class="text-left">
            <div class="form-group">
                <textarea id="msg" class="form-control clover-msg" rows="5" placeholder="大佬来留言啊"></textarea>
            </div>
            <button type="button" class="btn btn-default" id="msg-btn">提交</button>
        </div>
        <ul class="media reading-media">
            <%for(var i=article.discuss.length-1;i>=0;i--){%>
            <li>
                <img class="media-object msg-photo" src="../../public/images/photo.jpg" alt="photo">
                <div class="media-body msg-body"  acd="<%=article._id%>">
                    <div class="msg-time">
                        <input id="blon" type="hidden" value="<%=usersinfo.isAdmin%>">
                        <strong id="msg_users" user="<%=usersinfo.username%>"><%=article.discuss[i].username%></strong>
                        <span>发表时间：<b><%=article.discuss[i].time%></b></span>
                    </div>
                    <p class="msg-con"><%=article.discuss[i].content%></p>
                    <em class="info label-info" acc="<%=article.discuss[i].id%>">删除</em>
                </div>
                <hr class="text-center">
            </li>
            <%}%>
            <input id="msg_user" type="hidden" value="<%=usersinfo.username%>">
        </ul>
    </div>
</div>