<% include ./header.ejs %>
<% include ./nav.ejs %>
<div class="cover"></div>
<div class="main">
    <div class="clover-top text-center">
        <img class="clover-ban" src="../../public/images/clover-ban3.png" alt="ban">
    </div>
    <div class="clover container text-center">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <h1><%=article.title%></h1>
                发表时间：<em><%=article.time%></em> 评论量：<span><%=article.discuss.length%></span>
                <hr class="line">
                <div class="atheist-language thumbnail text-left">
                    <img src="../../public/images/a.png" alt="img">
                    <h3>简介：</h3>
                    <p><%=article.description%></p>
                </div>
                <div class="msg thumbnail text-left">
                    <h3>内容：</h3>
                    <p><%=article.content%></p>
                </div>
                <input id="single_id" type="hidden" value="<%=article._id%>">
                <% include ./msg.ejs %>
            </div>
        </div>
    </div>
</div>
<% include ./footer.ejs %>